body {
    background-color: salmon;
    text-align: center;
}

.nama{
    font-family: arial;
    font-size: 80px;
    color: white;
}

.nama span{
    display: inline-block;
    transition: .3s;
    cursor: pointer;
}

.nama span:hover {
    transform: scale(2);
}