* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 50px auto;
    transition: .3s width,
                .3s height .3s,
                .3s magin-top .3s,
                1s background-color;
}

.size {
    width: 150px;
    height: 150px;
    margin-top: 25px;
}

.caption {
    background-color: black;
}